@media screen and (max-width: 768px) {
   
    /** index **/

    .cuerpoindex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 235px 265px 4200px 100px; 
        grid-template-areas: 
        "nav"
        "titulo"
        "imagenuno"
        "pie";
    }

    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 100;
    }

    .inicio__titulo{
        font-size: 80px; 
        padding: 305px 100px 100px 100px;
        text-align: center;
        color:map-get($colores , "azul" );
        background-color: #0a06fc0c;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    }

    .footer__info{
        width: 100%;
        height: 90px;
        text-align: center;
        background-color: #000000a8;
    }
    
    .footer__info--link{
        font-size: 18px;
        color: #ffffff;
        margin: 0px 250px 0px 250px;
    }
    
    .footer__info--img{
        height: 25px;
        width: 25px;
        align-items: center;
    }

/** tienda **/

/** locales **/

    .tituloPaginas{
        margin-top:235px;
    }
    
    .cuerpo{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 205px 290px 90px 375px 375px 90px 375px 375px 90px 375px 375px 90px 375px 375px 97px;
        grid-template-areas: "nav        nav         nav"
                             "titulo     titulo      titulo"
                             "subtituloa subtituloa  subtituloa"
                             "pa         imga        imga"
                             "pa         mapaa       mapaa"
                             "subtitulob subtitulob  subtitulob"
                             "pb         imgb        imgb"
                             "pb         mapab       mapab"
                             "subtituloc subtituloc  subtituloc"
                             "pc         imgc        imgc"
                             "pc         mapac       mapac"
                             "subtitulod subtitulod  subtitulod"
                             "pd         imgd        imgd"
                             "pd         mapad       mapad"
                             "footer     footer      footer";
    }
    .navbar .navbar__pages{
        font-size: 35px;
        margin: 15px 5px 0px 5px;
        padding: 5px;
        color: white;
        transform: scale(1);
        border: 1px solid;
        border-radius: 15px;
        background-color:#0a1280;
    }
    .logo{
        font-size: 50px;
        color: #0a1280;
        text-align: center;
    }
    .headerlocal{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 100;
        width: 100%;
    }
    .tituloPaginaslocal{
        font-size: 70px;
        padding: 100px;
    }
    .subtitulomoron{
        font-size: 65px;
        padding: 0px 0px 5px 0px;
        text-align: center;
    }
    .subtituloituzaingo{
        font-size: 65px;
        padding: 0px 0px 5px 0px;
        text-align: center;
    }
    .subtitulohurlingam{
        font-size: 65px;
        padding: 0px 0px 5px 0px;
        text-align: center;
    }
    .subtitulomerlo{
        font-size: 65px;
        padding: 0px 0px 5px 0px;
        text-align: center;
    }

    .imglocal{
        height: 290px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .imglocali{
        height: 290px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .imglocalh{
        height: 290px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .imglocalm{
        height: 290px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .mapamoron{
        height: 320px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .mapaituzaingo{
        height: 320px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .mapahurlingam{
        height: 320px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }

    .mapamerlo{
        height: 320px;
        width: 290px;
        border-radius: 25px;
        margin: 25px;
    }
    .pituzaingo{
        font-size: 25px;
        color: #ffffff;
        height: 700px;
        width: 350px;
        margin: 25px;
        padding: 35px;
        background-color:#8381fa;
        border-radius: 8px;
    }
    .footer__info{
        height: 100px;
        width: 768px;
        position: absolute;
        text-align: center;
        background-color: #000000a8;
    }
    
    .footer__info--link{
    font-size: 18px;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    }

    .footer__info--img{
    height: 25px;
    width: 25px;
    align-items: center;
    align-content: center;
    }
}



/*Termina Locales*/
.subtitulo{
    font-size: 40px;
    color:#030235;
    margin-top: 60px;
}

.contenedortexto{
    margin: 20px;
}

.contactostexto{
    font-size: 25px;
    color: #ffffff;
    padding: 35px 35px 35px 35px;
    background-color:#8381fa;
    border-radius: 8px;
    margin-top: 50px;
}

.formulario{
    margin: 50px 0px 50px 0px;
}