header{
    position: fixed;
    top: 0;
    grid-area: nav;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    padding: 32px 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 24px;
    color: #0a1280;
    text-decoration: none;
}

.logo span{
    color: #0010f5;
}

.navbar{
    display: flex;
    align-items: center;
    & a:hover{
        color:#0a1280;
        font-size: 23px;
    }
    .navbar__pages{
        font-size: 20px;
        margin-left: 25px;
        color: #0010f5;
        text-decoration: none;
        transition: 0.5s;
        transform: scale(1.0);
    }
}

.headertienda{
    position: fixed;
    top: 0;
    grid-area: nav;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    padding: 32px 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.headerlocal{
    position: fixed;
    width: 100%;
    grid-area: nav;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    border-top: solid 1px map-get($colores , "negro" );
    padding: 32px 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.navtuto{
    display: flex;
    justify-content: space-between;
}