.inicio__pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .inicio__pagina--imagen{
        grid-area: imagenuno;
        height: 300px;
        width: 400px;
        margin: 150px 100px 0px 100px;
        border: solid 1px map-get($colores , "negro" );
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .3);;
        display:inline;
        align-items: center;
        transition: all 1.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .inicio__pagina--imagenult{
        grid-area: imagenuno;
        height: 300px;
        width: 400px;
        margin: 150px 100px 0px 100px;
        border: solid 1px map-get($colores , "negro" );
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .3);;
        display:inline;
        align-items: center;
        transition: all 1.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    
}





