.tarjetas{
    display: flex;
    justify-content: center
}

.subtituloTarjetas{
    font-size: 45px;
    padding: 15px 0px 15px 50px;
    text-align: left;
    border-top: solid 2px map-get($colores , "negro" );
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
    color:#ffffff;
    background-color:#030235;
}

.tarjetas__productos{
    width: 550px;
    height:600px;
    background-color: white;
    border-radius: 10px;
    padding:20px 20px 20px 20px;
    margin:40px 40px 40px 40px;
    .tarjetas__productos--articulos{
        font-size: 25px;
        margin: 20px 20px 20px 20px;
        padding: 10px 10px 10px 10px;
        border-bottom:solid 2px map-get($colores , "azul" );
    }
    .tarjetas__productos--img{
        height: 290px;
        width: 290px;
    }
    .tarjetas__productos--descripcion{
        height: 95px;
        font-size: 18px;
        padding: 0px 20px 0px 20px;
    }
}

.tarjetas__productosult{
    @extend .tarjetas__productos
}

.tutorial{
    display: flex;
    justify-content: center;
}

.tutorial__textoult{
    height: 400px;
    width: 600px;
    font-size: 20px;
    color: #ffffff;
    margin: 30px 0px 0px 30px;
    padding: 35px 35px 35px 35px;
    background-color:#8381fa;
    transition: all 1.5s;
    &:hover{
        transform: scale(1.1);
        border-radius: 15px;
    }
}

@mixin img ($grid, $alto, $ancho, $bordeesquina, $margen, $sombra){
    grid-area: $grid;
    height: $alto;
    width: $ancho;
    border-radius: $bordeesquina;
    margin: $margen;
    box-shadow: $sombra;
}
.imglocal{
    @include img(imga, 450px, 550px, 5px, 25px, 0 8px 16px rgba(0, 0, 0, .3))
}

.imglocali{
    @include img(imgb, 450px, 550px, 5px, 25px, 0 8px 16px rgba(0, 0, 0, .3))
}

.imglocalh{
    @include img(imgc, 450px, 550px, 5px, 25px, 0 8px 16px rgba(0, 0, 0, .3))
}

.imglocalm{
    @include img(imgd, 450px, 550px, 5px, 25px, 0 8px 16px rgba(0, 0, 0, .3))
}

@mixin parrafo ($grid, $fuente, $color, $margen, $padding, $fondo, $bordeesquina){
    grid-area: $grid;
    font-size: $fuente;
    color: $color;
    margin: $margen;
    padding: $padding;
    background-color:$fondo;
    border-radius: $bordeesquina;
}

.pmoron{
    @include parrafo(pa, 20px, #ffffff, 25px, 35px, #8381fa, 8px)
}

.pituzaingo{
    @include parrafo(pb, 20px, #ffffff, 25px, 35px, #8381fa, 8px)
}

.phurlingam{
    @include parrafo(pc, 20px, #ffffff, 25px, 35px, #8381fa, 8px)
}

.pmerlo{
    @include parrafo(pd, 20px, #ffffff, 25px, 35px, #8381fa, 8px)
}

@mixin mapa ($grid, $alto, $ancho, $bordeesquina, $margen, $borde, $sombra){
    grid-area: $grid;
    height: $alto;
    width: $ancho;
    border-radius: $bordeesquina;
    margin: $margen;
    border: $borde;
    box-shadow: $sombra;
}
.mapamoron{
    @include mapa(mapaa, 450px, 550px, 5px, 25px, solid 1px map-get($colores , "negro" ), 0 8px 16px rgba(0, 0, 0, .3))
}

.mapaituzaingo{
    @include mapa(mapab, 450px, 550px, 5px, 25px, solid 1px map-get($colores , "negro" ), 0 8px 16px rgba(0, 0, 0, .3))
}

.mapahurlingam{
    @include mapa(mapac, 450px, 550px, 5px, 25px, solid 1px map-get($colores , "negro" ), 0 8px 16px rgba(0, 0, 0, .3))
}

.mapamerlo{
    @include mapa(mapad, 450px, 550px, 5px, 25px, solid 1px map-get($colores , "negro" ), 0 8px 16px rgba(0, 0, 0, .3))
}

.contactostexto{
    font-size: 25px;
    color: #ffffff;
    padding: 35px 35px 35px 35px;
    margin: 0px 50px 50px 50px;
    background-color:#8381fa;
    border-radius: 8px;
    margin-top: 50px;
}

.formulario{
    margin: 50px 0px 50px 0px;
}