@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
* {
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.inicio {
  background-color: #0c08ff11;
}

header {
  position: fixed;
  top: 0;
  grid-area: nav;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 32px 9%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 24px;
  color: #0a1280;
  text-decoration: none;
}

.logo span {
  color: #0010f5;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #0a1280;
  font-size: 23px;
}

.navbar .navbar__pages {
  font-size: 20px;
  margin-left: 25px;
  color: #0010f5;
  text-decoration: none;
  transition: 0.5s;
  transform: scale(1);
}

.headertienda {
  position: fixed;
  top: 0;
  grid-area: nav;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 32px 9%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.headerlocal {
  position: fixed;
  width: 100%;
  grid-area: nav;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-top: solid 1px #000000;
  padding: 32px 9%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navtuto {
  display: flex;
  justify-content: space-between;
}

.cuerpoindex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 95px 300px 1500px 90px;
  grid-template-areas: "nav" "titulo" "imagenuno" "pie";
  background-color: #0c08ff11;
}

.tituloindex {
  grid-area: titulo;
}

.cuerpo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 95px 290px 90px 500px 90px 500px 90px 500px 90px 500px 10px;
  grid-template-areas: "nav        nav         nav" "titulo     titulo      titulo" "subtituloa subtituloa  subtituloa" "imga       pa          mapaa" "subtitulob subtitulob  subtitulob" "imgb       pb          mapab" "subtituloc subtituloc  subtituloc" "imgc       pc          mapac" "subtitulod subtitulod  subtitulod" "imgd       pd          mapad" "footer     footer      footer";
  background-color: #0c08ff11;
}

.titulolocal {
  grid-area: titulo;
}

.inicio__titulo {
  font-size: 80px;
  padding: 194px 100px 100px 100px;
  text-align: center;
  color: #030163;
  background-color: #0a06fc0c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tituloPaginas {
  font-size: 70px;
  padding: 100px;
  margin: 96px 0px 0px 0px;
  text-align: center;
  color: #030163;
  background-color: #0a06fc0c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tituloTutorialbt {
  font-size: 70px;
  padding: 100px;
  margin: 96px 0px 0px 0px;
  text-align: center;
  color: #030163;
  background-color: #0a06fc0c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tituloTutoriales {
  margin: 20px 10px 0px 0px;
  font-size: 30px;
  color: #061099;
  text-align: center;
}

.titulo__lista {
  font-size: 40px;
  color: #030235;
  padding: 20px;
}

.tituloPaginaslocal {
  font-size: 70px;
  padding: 100px;
  text-align: center;
  color: #030163;
  background-color: #0a06fc0c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.subtitulomoron {
  grid-area: subtituloa;
  font-size: 45px;
  padding: 15px 0px 0px 50px;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-color: #030235;
}

.subtituloituzaingo {
  grid-area: subtitulob;
  font-size: 45px;
  padding: 15px 0px 0px 50px;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-color: #030235;
}

.subtitulohurlingam {
  grid-area: subtituloc;
  font-size: 45px;
  padding: 15px 0px 0px 50px;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-color: #030235;
}

.subtitulomerlo {
  grid-area: subtitulod;
  font-size: 45px;
  padding: 15px 0px 0px 50px;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-color: #030235;
}

.inicio__pagina {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inicio__pagina .inicio__pagina--imagen, .inicio__pagina .inicio__pagina--imagenult {
  grid-area: imagenuno;
  height: 300px;
  width: 400px;
  margin: 150px 100px 0px 100px;
  border: solid 1px #000000;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  display: inline;
  align-items: center;
  transition: all 1.5s;
}

.inicio__pagina .inicio__pagina--imagen:hover, .inicio__pagina .inicio__pagina--imagenult:hover {
  transform: scale(1.1);
}

.footer {
  grid-area: pie;
}

.footer__info {
  width: 100%;
  height: 90px;
  position: absolute;
  text-align: center;
  background-color: #000000a8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__info .footer__info--link {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer__info .footer__info--link:hover {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #8381fa;
}

.footer__info .footer__info--img {
  height: 25px;
  width: 25px;
  align-items: center;
  margin: 0px 0px 5px 10px;
}

.footerlocal {
  grid-area: footer;
}

.tarjetas {
  display: flex;
  justify-content: center;
}

.subtituloTarjetas {
  font-size: 45px;
  padding: 15px 0px 15px 50px;
  text-align: left;
  border-top: solid 2px #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-color: #030235;
}

.tarjetas__productos, .tarjetas__productosult {
  width: 550px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: 40px 40px 40px 40px;
}

.tarjetas__productos .tarjetas__productos--articulos, .tarjetas__productosult .tarjetas__productos--articulos {
  font-size: 25px;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  border-bottom: solid 2px #030163;
}

.tarjetas__productos .tarjetas__productos--img, .tarjetas__productosult .tarjetas__productos--img {
  height: 290px;
  width: 290px;
}

.tarjetas__productos .tarjetas__productos--descripcion, .tarjetas__productosult .tarjetas__productos--descripcion {
  height: 95px;
  font-size: 18px;
  padding: 0px 20px 0px 20px;
}

.tutorial {
  display: flex;
  justify-content: center;
}

.tutorial__textoult {
  height: 400px;
  width: 600px;
  font-size: 20px;
  color: #ffffff;
  margin: 30px 0px 0px 30px;
  padding: 35px 35px 35px 35px;
  background-color: #8381fa;
  transition: all 1.5s;
}

.tutorial__textoult:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.imglocal {
  grid-area: imga;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.imglocali {
  grid-area: imgb;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.imglocalh {
  grid-area: imgc;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.imglocalm {
  grid-area: imgd;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pmoron {
  grid-area: pa;
  font-size: 20px;
  color: #ffffff;
  margin: 25px;
  padding: 35px;
  background-color: #8381fa;
  border-radius: 8px;
}

.pituzaingo {
  grid-area: pb;
  font-size: 20px;
  color: #ffffff;
  margin: 25px;
  padding: 35px;
  background-color: #8381fa;
  border-radius: 8px;
}

.phurlingam {
  grid-area: pc;
  font-size: 20px;
  color: #ffffff;
  margin: 25px;
  padding: 35px;
  background-color: #8381fa;
  border-radius: 8px;
}

.pmerlo {
  grid-area: pd;
  font-size: 20px;
  color: #ffffff;
  margin: 25px;
  padding: 35px;
  background-color: #8381fa;
  border-radius: 8px;
}

.mapamoron {
  grid-area: mapaa;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  border: solid 1px #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mapaituzaingo {
  grid-area: mapab;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  border: solid 1px #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mapahurlingam {
  grid-area: mapac;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  border: solid 1px #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mapamerlo {
  grid-area: mapad;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  margin: 25px;
  border: solid 1px #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contactostexto {
  font-size: 25px;
  color: #ffffff;
  padding: 35px 35px 35px 35px;
  margin: 0px 50px 50px 50px;
  background-color: #8381fa;
  border-radius: 8px;
  margin-top: 50px;
}

.formulario {
  margin: 50px 0px 50px 0px;
}

.boton {
  width: 120px;
  font-size: 30px;
  background-color: #d6d6d6;
  color: #030163;
  padding: 5px 5px 5px 5px;
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 380px;
  text-decoration: none;
  transition: all 0.5s;
}

.boton:hover {
  font-size: 31px;
  color: white;
  background-color: #030163;
  border: solid 2px #000000;
}

.video {
  height: 400px;
  width: 600px;
  margin: 30px 30px 30px 0px;
  transition: all 1.5s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

.video:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

@media (max-width: 480px) {
  /*INDEX*/
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
  }
  .logo {
    font-size: 40px;
  }
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar a:hover {
    color: #0a1280;
    font-size: 25px;
  }
  .navbar .navbar__pages {
    font-size: 23px;
    margin: 0px 10px 0px 10px;
    color: #ffffff;
    background-color: #0a1280;
    border: solid 2px black;
    border-radius: 10px;
  }
  .inicio__titulo {
    width: 100%;
    font-size: 80px;
    padding: 194px 0px 100px 0px;
    text-align: center;
    color: #030163;
    background-color: #0a06fc0c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .inicio__pagina .inicio__pagina--imagen, .inicio__pagina .inicio__pagina--imagenult {
    grid-area: imagenuno;
    height: 300px;
    width: 400px;
    margin: 150px 0px 0px 0px;
  }
  .inicio__pagina .inicio__pagina--imagenult {
    grid-area: imagenuno;
    height: 300px;
    width: 400px;
    margin: 150px 0px 150px 0px;
    border: solid 1px #000000;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: inline;
    align-items: center;
    transition: all 1.5s;
  }
  .inicio__pagina .inicio__pagina--imagenult:hover {
    transform: scale(1.1);
  }
  .footer__info {
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #000000a8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__info .footer__info--link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
  }
  .footer__info .footer__info--link:hover {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: #8381fa;
  }
  .footer__info .footer__info--img {
    height: 25px;
    width: 25px;
    align-items: center;
    margin: 0px 0px 5px 10px;
  }
  /*TIENDA*/
  .headertienda {
    position: fixed;
    top: 0;
    grid-area: nav;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 32px 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
  }
  .tituloPaginas {
    font-size: 80px;
    padding: 194px 0px 100px 0px;
  }
  .subtituloTarjetas {
    padding: 15px 0px 15px 0px;
    text-align: center;
  }
  .tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tarjetas__productos, .tarjetas__productosult {
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 40px 0px 40px 0px;
  }
  .tarjetas__productos .tarjetas__productos--articulos, .tarjetas__productosult .tarjetas__productos--articulos {
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    border-bottom: solid 2px #030163;
  }
  .tarjetas__productos .tarjetas__productos--img, .tarjetas__productosult .tarjetas__productos--img {
    height: 290px;
    width: 290px;
  }
  .tarjetas__productos .tarjetas__productos--descripcion, .tarjetas__productosult .tarjetas__productos--descripcion {
    height: 95px;
    font-size: 18px;
    padding: 0px 20px 0px 20px;
  }
  .boton {
    margin: 0px 0px 0px 300px;
  }
  .tarjetas__productosult {
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 40px 0px 150px 0px;
  }
  /*TUTORIALES*/
  .navegador {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tituloTutorialbt {
    font-size: 90px;
    padding: 125px 0px 50px 0px;
    width: 100%;
  }
  .video {
    height: 400px;
    width: 90%;
    margin: 30px 0px 0px 0px;
  }
  .tutorial__textoult {
    width: 100%;
    margin: 30px 0px 90px 0px;
    padding: 35px 35px 35px 35px;
    background-color: #8381fa;
    transition: all 1.5s;
  }
  .tutorial__textoult:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }
  /*LOCALES*/
  .cuerpo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 305px 85px 400px 400px 400px 85px 400px 400px 400px 85px 400px 400px 400px 85px 400px 400px 500px 0px;
    grid-template-areas: "nav" "titulo" "subtituloa" "imga" "pa" "mapaa" "subtitulob" "imgb" "pb" "mapab" "subtituloc" "imgc"  "pc" "mapac" "subtitulod" "imgd" "pd"  "mapad" "footer";
    background-color: #0c08ff11;
  }
  .headerlocal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tituloPaginaslocal {
    font-size: 80px;
    padding: 57px;
  }
  .imglocal {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .pmoron {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
    padding: 35px;
    background-color: #8381fa;
    border-radius: 8px;
  }
  .mapamoron {
    grid-area: mapaa;
    height: 350px;
    width: 480px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    border: solid 1px #000000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .imglocali {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .pituzaingo {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
    padding: 35px;
    background-color: #8381fa;
    border-radius: 8px;
  }
  .mapaituzaingo {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    border: solid 1px #000000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .imglocalh {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .phurlingam {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
    padding: 35px;
    background-color: #8381fa;
    border-radius: 8px;
  }
  .mapahurlingam {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    border: solid 1px #000000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .imglocalm {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .pmerlo {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
    padding: 35px;
    background-color: #8381fa;
    border-radius: 8px;
  }
  .mapamerlo {
    height: 350px;
    width: 480px;
    border-radius: 5px;
    margin: 10px 0px 100px 0px;
    border: solid 1px #000000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}
/*# sourceMappingURL=style.css.map */